bin-linux-debug/
obj-linux-debug/
bin-windows-debug/
obj-windows-debug/
bin-linux-release/
obj-linux-release/
bin-windows-release/
obj-windows-release/
bin-mac/
obj-mac/
bin-web/
obj-web/
meson.build
*.ui~
*.ui#
*.DS_Store
*.vala.uncrustify
run-gui.sh
run.sh
.~lock*
ext/meson/test cases/python3/1 basic/gluon/tags.*
