bin-linux-debug/
obj-linux-debug/
bin-mac-debug/
obj-mac-debug/
bin-windows-debug/
obj-windows-debug/
bin-linux-release/
obj-linux-release/
bin-mac-release/
obj-mac-release/
bin-windows-release/
obj-windows-release/
meson.build
*.ui~
*.ui#
*.DS_Store
*.vala.uncrustify
run.sh
